<div id="main-app">

{{!-- navigator --}}
<nav>
<div class="nav" id="nav">
<a href="/"><img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/logo.svg" width="100" height="100" class="nav-logo" alt="nav-logo"></a>
<img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/frame.svg"
  width="100" height="100" class="navicon nav-frame" id="nav-frame" alt="nav-frame">
<img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/folder.svg"
  width="100" height="100" class="navicon nav-folder" id="nav-folder" alt="nav-folder">
<img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/mail.svg"
  width="100" height="100" class="navicon nav-mail" id="nav-mail" alt="nav-mail">
<img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/darkmode-on.svg"
  width="100" height="100" class="navicon nav-darkmodeon" id="nav-darkmodeon" alt="nav-darkmodeon">
</div>
</nav>


<main id="main-content">

{{!-- title --}}
<div class="title">Campaign</div>

{{!-- table --}}
<div class="table-container">
<table class="table">
  <thead>
  <tr class="table-header">
    <th class="table-checkbox"><input type="checkbox" id="checkbox-all" name="checkbox-all" value="checkbox0" /></th>
    <th class="table-id">ID</th>
    <th class="table-name">Name</th>
    <th class="table-advertiser">Advertiser <p class="table-group">Group</p></th>
    <th class="table-description">Description</th>
    <th class="table-price"><p>Price</p></th>
    <th class="table-starttime"><p>Start Time</p></th>
    <th class="table-endtime"><p>End Time</p></th>
    <th class="table-action">Action</th>
  </tr>
  </thead>
  <tbody class="scrollbar">
    {{#each checkboxes}}
<tr class="{{oddOrEven @index}} {{#if checked}}table-orange{{else}}{{addOrange checked}}{{/if}}">
    <th class="table-checkbox"><input type="checkbox" id="{{this.id}}" name="checkbox" value="{{this.value}}"/></th>
    <th class="table-id">{{inc @index}}</th>
    <th class="table-name">Christmas 2020</th>
    <th class="table-advertiser">Food Market<p class="table-group">Krab</p></th>
    <th class="table-description">holiday night during ch...</th>
    <th class="table-price">$2000</th>
    <th class="table-starttime">2020/12/24 19:30</th>
    <th class="table-endtime">2021/01/02 23:00</th>
    <th class="table-action"><div class="nav-action">
      <span class="hamburger"></span>
        <div class="popup-container" id="popup{{inc @index}}">
        <div class="popup-section duplicate">
          <img src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/duplicate.svg" width="15" height="15" class="popup-icon" id="popup-duplicate" alt="popup-duplicate"><p>Duplicate</p>
          </div>
        <div class="popup-section edit">
          <img
            src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/edit.svg"
            width="15" height="15" class="popup-icon" id="popup-edit" alt="popup-edit">
          <p>Edit</p>
        </div>
        <div class="popup-section delete">
          <img
            src="https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/delete.svg"
            width="15" height="15" class="popup-icon" id="popup-delete" alt="popup-delete">
          <p>Delete</p>
        </div>
      </div>
    </div>
    </th>
  </tr>
      {{/each}}
  </tbody>
</table>
</div>

</main>
</div>